<ion-header>
  <ion-toolbar>
    <ion-title>Tamiri Listesi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor=" let item of htmlData let i = index">
    <ion-item [routerLink]="['/all-customers',i]">
      <ion-icon color="success" *ngIf="item.teslimat" name="trophy-outline" slot="start"></ion-icon>
      <ion-icon color="warning" *ngIf="!item.teslimat" name="construct-outline" slot="start"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
      <ion-label>{{item.model}} {{item.marka}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
