<ion-header>
  <ion-toolbar>
    <ion-title style="padding: 0">Arızalı Telefon Teslim Alma Formu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="customerForm" (ngSubmit)="fromSubmit()">
      <ion-item>
        <ion-label position="floating">İsim Soyisim</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefon Numarası</ion-label>
        <ion-input formControlName="mobile" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefon Markası</ion-label>
        <ion-input formControlName="marka" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefon Modeli</ion-label>
        <ion-input formControlName="model" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefon Arızası</ion-label>
        <ion-input formControlName="problem" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">İmei Numarası</ion-label>
        <ion-input formControlName="imei" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Not</ion-label>
        <ion-input formControlName="note" type="text" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Oluştur
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col> </ion-col>
      </ion-row>
      <ion-row> <ion-col> </ion-col> </ion-row
      ><ion-row>
        <ion-col> </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
